body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  header {
    #title { font-size: 25px; font-weight: lighter; }
    #description { font-weight: lighter; }
  }
  #canvas {
    position: relative;
    #tooltip {
      text-align: center;
      position: absolute;
      opacity: 0;
      background: #115782;
      padding: 0 10px;
      border-radius: 5px;
      pointer-events: none;
      color: #fff;
    }
    svg {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      .cell:hover {
        stroke: #000;
        stroke-width: 2;
      }
    }
  }
}





